<nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img src="assets/img/logo.png" alt="logo" height="34">
        <img src="assets/img/title.png" alt="logo" height="34">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
            style="color: white !important" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{{'home' | transloco}}</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="modal"
                        data-bs-target="#settingsModal">{{'settings.settings'| transloco}}</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/faq']">FAQ</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-secondary btn-sm" [title]="'save' | transloco" (click)="save()"
                    *ngIf="!configs.autosave">
                    <span class="material-symbols-outlined align-middle">
                        save
                    </span>
                    &nbsp;{{'save' | transloco}}
                </button>
                <div class="dropdown mr-2" [title]="'lang' | transloco">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="'assets/img/' + (lang == 'en' ? 'enflag.png' : 'ptflag.png')" height="24" />
                    </button>
                    <ul class="dropdown-menu">
                        <li style="max-width: fit-content;" (click)="changeLang('en')"><a class="dropdown-item"
                                href="#"><img src="assets/img/enflag.png" height="24" /></a>
                        </li>
                        <li style="max-width: fit-content;" (click)="changeLang('pt')"><a class=" dropdown-item"
                                href="#"><img src="assets/img/ptflag.png" height="24" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Settings -->
<div class="modal fade modal-lg" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel"
    data-bs-backdrop="static" aria-hidden="true" style="color: black">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">{{'settings.settings' | transloco}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="audioSwitch"
                                [(ngModel)]="configs.audio">
                            <label class="form-check-label" for="audioSwitch">{{'settings.audio' | transloco}}</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="autosaveSwitch"
                                [(ngModel)]="configs.autosave">
                            <label class="form-check-label" for="autosaveSwitch">{{'settings.autosave' |
                                transloco}}</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary" (click)="delete()">{{'settings.deleteSettings' |
                            transloco}}</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"
                    (click)="saveConfigs()">
                    <span class="material-symbols-outlined align-middle">
                        save
                    </span>
                    &nbsp;{{'save' | transloco}} {{'settings.settings' | transloco}}</button>
            </div>
        </div>
    </div>
</div>