@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #181823;
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    // font-family: "Anta", sans-serif;
    font-style: normal;
    font-weight: 400;
}

hr {
    height: 5px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border: 0px;
}

// small {
//     color: rgba(0, 0, 0, 0.61);
// }

.vr {
    height: 100%;
    float: left;
    width: 5px;
    margin-right: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.fusion {
    color: #c40b0b
}

.glacio {
    color: #89e5ff
}

.aero {
    color: #3fffcc
}

.electro {
    color: #8b2293
}

.spectro {
    color: #bca81d
}

.havoc {
    color: #9a1754
}

.btn-aalto {
    background-color: #adc0f9;
    border-color: #d5eaf7;
    color: black
}

.btn-aalto:hover {
    background-color: #4b5583;
    border-color: #adc0f9;
}

.btn-baizhi {
    background-color: #f5f3ef;
    border-color: #65c39d;
    color: black;
}

.btn-baizhi:hover {
    background-color: #d1cfcc;
    border-color: #65c39d;
}

.btn-calcharo {
    background-color: #3e519d;
    border-color: #7383d0;
    color: white;
}

.btn-calcharo:hover {
    background-color: #1d193c;
    border-color: #3e519d;
}

.btn-changli {
    background-color: #dd6554;
    border-color: #a13f5a;
}

.btn-changli:hover {
    background-color: #dc401c;
    border-color: #a7103a;
}

.btn-chixia {
    background-color: #aa3f4f;
    border-color: #f6924f;
    color: white
}

.btn-chixia:hover {
    background-color: #f6924f;
    border-color: #aa3f4f;
}

.btn-danjin {
    background-color: #963235;
    border-color: #d13439;
}

.btn-danjin:hover {
    background-color: #c53159;
    border-color: #a7103a;
}

.btn-encore {
    background-color: #c65c78;
    border-color: #a13f5a;
}

.btn-encore:hover {
    background-color: #c53159;
    border-color: #a7103a;
}

.btn-jianxin {
    background-color: #3d5068;
    border-color: #79bbd4;
}

.btn-jianxin:hover {
    background-color: #222d3a;
    border-color: #79bbd4;
}

.btn-jinhsi {
    background-color: #ebe8dc;
    border-color: #cea41b;
    color: black;
}

.btn-jinhsi:hover {
    background-color: #a8a69f;
    border-color: #7a5f04;
    color: black;
}

.btn-jiyan {
    background-color: #235961;
    border-color: #11c5cc;
}

.btn-jiyan:hover {
    background-color: #112a2e;
    border-color: #11c5cc;
}

.btn-lingyang {
    background-color: #7a6d52;
    border-color: #302b21;
}

.btn-lingyang:hover {
    background-color: #4b4332;
    border-color: #000000;
}

.btn-mortefi {
    background-color: #5f2c28;
    border-color: #6b2d26;
}

.btn-mortefi:hover {
    background-color: #541217;
    border-color: #33080c;
}

.btn-roverh {
    background-color: #43248b;
    border-color: #46289c;
}

.btn-roverh:hover {
    background-color: #291557;
    border-color: #5634b4;
}

.btn-rover {
    background-color: #efe2a8;
    border-color: #443a30;
    color: #443a30
}

.btn-rover:hover {
    background-color: #c4b886;
    border-color: #efcaa8;
}

.btn-sanhua {
    background-color: #41aefb;
    border-color: #b9e2ff;
}

.btn-sanhua:hover {
    background-color: #119cff;
    border-color: #41aefb;
}

.btn-taoqi {
    background-color: #fac9d4;
    border-color: #b9516c;
    color: black;
}

.btn-taoqi:hover {
    background-color: #b9516c;
    border-color: #fac9d4;
}

.btn-verina {
    background-color: #cde384;
    border-color: #669d7f;
    color: black;
}

.btn-verina:hover {
    background-color: #969e4f;
    border-color: #466b57;
    color: black;
}

.btn-xiangliyao {
    background-color: #5c6af7;
    border-color: #031741;
    color: white;
}

.btn-xiangliyao:hover {
    background-color: #3f47a3;
    border-color: #031741;
    color: white;
}

.btn-yangyang {
    background-color: #2ec59e;
    border-color: #031741;
    color: black;
}

.btn-yangyang:hover {
    background-color: #1b725c;
    border-color: #031741;
    color: white;
}

.btn-yinlin {
    background-color: #844ded;
    border-color: #ddc6ed;
    color: black;
}

.btn-yinlin:hover {
    background-color: #1e125e;
    border-color: #844ded;
    color: white;
}

.btn-yuanwu {
    background-color: #2f3f70;
    border-color: #50526a;
    color: white;
}

.btn-yuanwu:hover {
    background-color: #50526a;
    border-color: #2f3f70;
    color: white;
}

.btn-zhezhi {
    background-color: #88adb7;
    border-color: #d2859f;
    color: white;
}

.btn-zhezhi:hover {
    background-color: #d2859f;
    border-color: #88adb7;
    color: white;
}

.teste {
    border: solid 2px red;
}

.teste2 {
    border: solid 2px blue;
}

.teste3 {
    border: solid 2px orange;
}